.header {
  height:60px;
  background-color:#fff;
  -webkit-box-shadow: 0px 4px 13px 0px var(--black25);
  -moz-box-shadow: 0px 4px 13px 0px var(--black25);
  box-shadow: 0px 4px 13px 0px var(--black25);
}
.container {
  max-width: var(--max-width);
  width:calc(100% - 4rem);
  margin:0 auto;
  vertical-align: middle;
}
.logo {
  width:140px;
  display:inline-block;
  padding-top:13px;
}
.right {
  float:right;
  display:inline-block;
  padding-top:13px;
}