.button {}
.Filled {
  background-color: var(--cta-primary);
  border-radius:5px;
  color:var(--white);
  cursor:pointer;
  text-align:center;
  padding:0.68rem 0;
  width:calc(25% - 1rem);
  line-height:1.5rem;
  font-size:1.25rem;
  font-weight:700;
  outline:none;
  border:none;
  vertical-align: bottom;
  transition:box-shadow 0.2s ease;
}
.Filled:hover {
  box-shadow:0px 0px 10px var(--black75);
}
.Outlined {
  border: 1px solid  var(--link-color);
  color: var(--link-color);
  background-color: var(--white);
  cursor: pointer;
  font-size: 12px;
  line-height:14px;
  font-weight:700;
  padding:4px 8px 6px 8px;
  border-radius:5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.Outlined:hover {
  background-color: var(--link-color);
  color: var(--white);
}
.Text, .Link {
  color:var(--link-color);
  font-size:16px;
  line-height:19px;
  border:none;
  background:transparent;
  outline:none;
  font-weight:700;
  cursor:pointer;
}
.Text:hover, .Link:hover {
  color:var(--black);
}
.Underline {
  background:none;
  outline:none;
  font-size:14px;
  font-weight:400;
  line-height:17px;
  cursor:pointer;
  color:var(--link-color);
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid var(--link-color);
}
.Underline:hover {
  color:var(--black);
  border-bottom-color:var(--black);
}
.Link {
  text-decoration: underline;
}
.Icon {}